@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Vithkuqi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.header {
    font-family: "Great Vibes", cursive;
}
.header2 {
    color: lightsalmon;
}

.header {
    position: relative;
    margin-bottom: 0;
    z-index: -1;
    font-size: 40px;
    opacity: 0; /* Start with opacity set to 0 */
    transform: translateY(50%); /* Move the header down initially */
    animation: move-up 2s 2s forwards, fade-in 2s forwards; /* Apply move-up and fade-in animations */
}

/* Fade-in animation */
@keyframes fade-in {
    to {
        opacity: 1;
    }
}

/* Move-up animation */
@keyframes move-up {
    from {
        transform: translateY(50%);
    }
    to {
        transform: translateY(0%);
    }
}

.separation-line {
    height: 1px;
    position: relative;
    z-index: 1;
    background-color: #ccc;
    opacity: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px 0; /* Adjust the margin as needed to control the separation distance */
}

#video-container {
    margin-bottom: 47px;
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 0;
    /* margin: auto; */
}

.show-more-button {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.more-details {
    display: none;
    font-family: "Roboto", sans-serif;
    color: #666;
    margin-top: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    touch-action: manipulation;
}

h1 {
    text-align: center;
    padding: 20px 0;
    color: #333;
}

h2 {
    color: #555;
    margin-bottom: 10px;
    font-family: "Noto Serif Vithkuqi", serif;
}

ul {
    list-style: none;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.song-details {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.raag-details {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: black;
    margin-top: 5px;
}

.song-link-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    padding: 0;
    font: inherit;
}

.detail-label {
    font-weight: bold;
}

li {
    padding-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

.music-controls {
    display: flex;
    justify-content: center;
    align-items: center;

    white-space: nowrap;
    position: fixed;
    margin: auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.music-controls button {
    background: none;
    border: none;
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
}

.music-controls label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.music-controls .slider {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
    background-color: #ccc;
    border-radius: 13px;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}

.music-controls .slider:before {
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.music-controls input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.music-controls input[type="checkbox"]:checked + .slider {
    background-color: #2196f3;
}

.music-controls input[type="checkbox"]:checked + .slider:before {
    transform: translateX(24px);
}

#content {
    margin-top: 70%;
}

.time_stamp {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    padding: 0;
    font: inherit;
}

.link {
    font-family: "Roboto", sans-serif;
    background: none;
    border: none;
    color: #666;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
}

.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    max-height: 80%;
    overflow-y: auto;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 11;
    opacity: 0; /* Start with opacity 0 for the fade-in effect */
    transition: opacity 0.3s ease-in-out; /* Add a transition for opacity */
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0; /* Start with opacity 0 for the fade-in effect */
    transition: opacity 0.3s ease-in-out; /* Add a transition for opacity */
}

.loading-animation {
  width: 100%;
  height: 4.8px;
  display: inline-block;
  background: lightsalmon;
  position: relative;
  overflow: hidden;
}
.loading-animation::after {
  content: '';  
  width: 0%;
  height: 4.8px;
  background-color: black;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 75%, transparent 75%, transparent);
  background-size: 15px 15px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animFw 4s ease-in infinite;
}

@keyframes animFw {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

    

/* Responsive Styles */
@media screen and (max-width: 600px) {
    section {
        padding: 10px;
    }
}

main {
    margin-left: 1em;
    margin-right: 1em;
}

main > section {
    margin-bottom: 1em;
}

main > section div.framed > div {
    border: 1px solid black;
    margin-bottom: 1ex;
    padding: 1ex;
}

main > section button {
    padding: 0.5ex 1em;
}

main > section input[type="range"] {
    width: 400px;
}

main > section label[for^="YouTube-player-"] {
    position: absolute;
}

main > section textarea {
    height: 9ex;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 99%;
}

.center {
    text-align: center;
}

.margin-left-m {
    margin-left: 1em;
}
.margin-right-m {
    margin-right: 1em;
}

.nowrap {
    white-space: nowrap;
    position: fixed;
    margin: auto;
    bottom: 0;
}

#indicator-display {
    background-color: #f0f0f0;
    border-radius: 3ex;
    display: inline-block;
    float: right;
    font-family: monospace;
    height: 2ex;
    line-height: 2ex;
    margin: 1ex 1ex 0 0;
    padding: 1ex;
    text-align: center;
    vertical-align: middle;
    width: 2ex;
}

#YouTube-video-id {
    font-family: monospace;
}

.toggle-slider {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.toggle-slider input {
    display: none;
}

/* Slider background */
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

/* Slider on state */
input:checked + .slider {
    background-color: #2196f3;
}

input:checked + .slider:before {
    transform: translateX(26px); /* Increase the translation for the slider */
}

/* Center the buttons in the nowrap class */
.nowrap {
    text-align: center;
    position: fixed;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Add some padding to the buttons */
.nowrap button {
    padding: 10px 20px;
    margin: 5px;
    background-color: lightskyblue;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

/* Add hover effect to buttons */
.nowrap button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    main > section iframe {
        height: 240px;
        width: 320px;
    }

    main > section input[type="range"] {
        width: 320px;
    }
}

@media (max-width: 400px) {
    main > section iframe {
        height: 200px;
        width: 200px;
    }

    main > section input[type="range"] {
        width: 200px;
    }
}
